<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFM449aXPYBF-4JO20ncyhEkFqBl-bR9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>949924164000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinestream</string>
	<key>PROJECT_ID</key>
	<string>cinestream-firebase-d1d2e</string>
	<key>STORAGE_BUCKET</key>
	<string>cinestream-firebase-d1d2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949924164000:ios:b37a41c4d56fb543dab4c5</string>
</dict>
</plist>